/* Global styles for scrollbar */
/* Untuk browser berbasis Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #1D1D1D;
  /* Scrollbar transparan gelap */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1D1D1D;
  /* Background transparan */
}

/* Untuk Firefox */
html {
  scrollbar-color: #1D1D1D #1D1D1D;
  /* Transparan gelap untuk Firefox */
  scrollbar-width: thin;
  /* Ukuran scrollbar tipis */
}
